* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1b1b1b;
  color: white;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.content {
  background-color: rgb(87, 87, 140);
  padding: 16px;
  width: 350px;
  height: 400px;
  border-radius: 5%;
}

.timer {
  height: 45%;
  border-radius: 8px;
  margin-bottom: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(50, 50, 79);
}

.btn-container {
  height: 35%;
  width: 100%;
  margin-bottom: 16px;
  border-radius: 8px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(50, 50, 79);
}

.btn {
  outline: none;
  color: white;
  padding: 8px;
  cursor: pointer;
  border: 2px solid rgb(87, 87, 140);
  background: transparent;
  border-radius: 4px;
}

.btn:hover {
  background-color: rgb(208, 168, 212);
}

.section {
  height: 10%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 8px;
  background-color: rgb(50, 50, 79);
}
